.nothing-to-show-yet {
    color: #ced4da;
    font-size: 1rem;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.not-found-cat {
    width: 150px;
    opacity: 0.5;
}

.user-greeting {
    padding: 25px;
}

.feed-card {
    border: 1px solid #dee2e6;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    width: 200px;
    border-radius: 14px;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
}

.feed-header {
    gap: 1rem;
    padding: 0  25px 25px;
    display: flex;
    margin-left: 25px;
    border-bottom: 1px solid #dee2e6;
}