.modal-window {
    background-color: #f2f1f7;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;;
    width: 45vw;
    min-width: 450px;
    max-width: 720px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    opacity: 0;
    z-index: 999;
}

.weeklychallenges-card-dif-icon {
    width: 12px;
}

.weeklychallenges-card-dif-level {
    text-transform: capitalize;
}

.challenge-card-interested-btn {
    background-color: #00a3dd;
    color: #f2f1f7;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    border-radius: 5px;
    transition: transform 50ms ease-in-out;
    margin-top: 1rem;
}

.challenge-card-interested-btn:active {
    transform: scale(0.9);
}

.modal-bg-filter {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(3px);
    background: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 100%);
    opacity: 0;
}

.modal-window-pri-btn {
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border-radius: 9px;
    color: #f2f1f7;
    padding: 0.85rem 2rem;
}

.modal-window-sec-btn {
    border: 1px solid #dee2e6;
    border-radius: 9px;
    padding: 0.85rem 2rem;
    margin-right: 1rem;
}

.modal-wrapper {
    background: linear-gradient(0deg, rgba(233,236,239,0) 0%, rgba(233,236,239,1) 100%);
    border-radius: 1rem;
    border: 1px solid #dee2e6;
}

.modal-footer {
    padding: 25px;
    border-top: 1px solid #ced4da;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-body {
    padding: 25px;
}

.active-participants-icon {
    background-color: #00B760;
    border-radius: 100%;
    height: 9px;
    width: 9px;
}

.participant-info {
    align-items: center;
    display: flex;
    color: #adb5bd;
    gap: 7px;
}

.judz-difficulty-info-div {
    align-items: center;
    display: flex;
    gap: 7px;
}

.challenge-tags {
    align-items: center;
    display: flex;
    gap: 7px;
}

.challenge-tags-pill {
    text-transform: capitalize;
    background-color: #ced4da;
    width: fit-content;
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 14px;
}

.challenges-card {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    border-radius: 19px;
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid #dee2e6;
}

.challenge-card-metadata {
    font-size: 14px;
    color: #adb5bd;
    display: flex;
    gap: 1rem;
}

.challenge-card-dif-info {
    align-items: center;
    display: flex;
    gap: 7px;
}

.challenge-card-participants-info {
    align-items: center;
    display: flex;
    gap: 7px;
}

.challenge-card-title {
    font-size: 1.5rem;
    font-weight: 800;
}

.challenge-card-header {
    margin-bottom: 1rem;
}